/*Importaciones del Sass*/
body {
  background-image: url("https://img.freepik.com/foto-gratis/bolsa-papel-alimentos_76263-1478.jpg?size=626&ext=jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: roboto,sans-serif; }

nav ul {
  text-align: center;
  font-size: 22px; }
  nav ul li {
    display: inline-block;
    margin: 5px; }
    nav ul li a {
      color: #f9fd00; }
      nav ul li a:hover {
        text-decoration: none;
        border-radius: 70%;
        background-color: #4cce32; }

article {
  margin: 15px;
  color: black; }

footer {
  text-align: center;
  background-color: #4cce32;
  position: relative;
  margin-bottom: -10px; }
/*Hasta aqui las importaciones del Sass (aplicables al Index)*/



  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Smooch&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logo{
  width: 80%;
  height: 80%;
}



#navbarNav{
  position: relative;
  margin-left: -30px;
}

.lalucha{
   margin: 10px;
   display: flex;  
    flex-direction: row; 
   align-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.texto-1{
  display: flex;  
    flex-direction: row; 
   align-content: center;
   position: relative;
  margin: 20px 45px 20px 45px;
}

.texto-4{
  display: flex;  
    flex-direction: row; 
   align-content: center;
   position: relative;
  margin: -20px 45px -100px 45px;
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    align-content: center;
    justify-content: center;
    
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 30px 18px;
    
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }

.text-container{
  text-align: center;
    align-content: center;
    justify-content: center;
}


#grid{
  margin: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:1fr;
  grid-template-areas:
  "mapa formulario"
}


.mapa{
  grid-area: mapa;
}

.formulario{
grid-area: formulario;
}


.texto{
    margin: 0px 15px 0px 15px;
}

.btn{
  background-color: rgb(76, 206, 50);
}



    /*media queries*/

    @media only screen and (min-width: 480px) {
      #grid{
        margin: 15px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:1fr 1fr;
        grid-template-areas:
        "mapa"
        "formulario"
      }
      
      
      .mapa{
        grid-area: mapa;
        margin-right: 5px;
      }
      
      .formulario{
      grid-area: formulario;
      }

    
      iframe{
        width: 90%;
      }
    }

    

@media only screen and (min-width: 649px) {
  #grid{
    margin: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "mapa"
    "formulario"
  }
  
  
  .mapa{
    grid-area: mapa;
    margin-right: 10px;
  }
  
  .formulario{
  grid-area: formulario;
  }

  iframe{
    width: 100%;
  }
    }

    
  
    @media screen and (min-width: 1200px) {
      #grid{
        margin: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:1fr;
        grid-template-areas:
        "mapa formulario"
      }
      
      
      .mapa{
        grid-area: mapa;
        margin-right: 10px;
      }
      
      .formulario{
      grid-area: formulario;
      }

      iframe{
        width: 100%;
        margin-right: 10px;
      }
    }