body{
    background-image: url('https://img.freepik.com/foto-gratis/bolsa-papel-alimentos_76263-1478.jpg?size=626&ext=jpg');
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: roboto,sans-serif;
}
